.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.6);
}

.container{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 720px;  
  background-color: #1C1C21;
  z-index: 101;
  border-radius: 40px;  
}

.btnClose {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}